<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="form-container">
        <h2>Available Flights</h2>
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            <ul>
              {% for category, message in messages %}
                <li class="{{ category }}">{{ message }}</li>
              {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
        <table>
            <thead>
                <tr>
                    <th>Flight ID</th>
                    <th>Departure</th>
                    <th>Arrival</th>
                    <th>Source</th>
                    <th>Destination</th>
                    <th>Select</th>
                </tr>
            </thead>
            <tbody>
                {% for flight in flights %}
                    <tr>
                        <td>{{ flight.FlightID }}</td>
                        <td>{{ flight.DepartureTime }}</td>
                        <td>{{ flight.ArrivalTime }}</td>
                        <td>{{ flight.Source }}</td>
                        <td>{{ flight.Destination }}</td>
                        <td><a href="{{ url_for('select_seat', flight_id=flight.FlightID) }}">Select Seats</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
